@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), local('quicksand'), url('/fonts/Quicksand.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('RobotoMono'), local('robotomono'), url('/fonts/RobotoMono.ttf') format('truetype')
}

:root {
  --font-family: 'Quicksand';
  --font-size-3: 16px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 28px;
  --font-size-7: 32px;

  --color-text-dark: #292524;
  --color-text-dark-shadow: #2925244d;
  --color-text-light: #ffffff;
  --color-text-light-shadow: #ffffff4d;
  --color-text-light-transparent: #ffffffb3;

  --color-primary: #22c55e;
  --color-primary-disabled: #22c55e33;
  --color-primary-transparent: #22c55e4d;

  --color-secondary: #d946ef;
  --color-secondary-transparent: #d946ef4d;

  --color-dark: #292524;
  --color-dark-transparent: hsl(12, 6%, 15%, 0.2);
  --color-disabled: hsl(25, 5%, 45%, 0.2);


  --color-primary-6: #22c55e;
  --color-primary-5: #22c55e;/* hsl(121, 50%, 60%);*/
  --color-primary-4: #86efac; /* hsl(121, 50%, 60%, 0.4);*/
  --color-primary-3: #bbf7d0; /* hsl(121, 50%, 60%, 0.2);*/
  --color-primary-2: #d1fae5;
  --color-secondary-7: #a21caf;
  --color-secondary-5: #e879f9; /* hsl(301, 50%, 60%); */
  --color-secondary-4: #f0abfc;
  --color-secondary-3: #f0abfc; /* hsl(301, 50%, 60%, 0.4);*/
  --color-secondary-2: #f5d0fe; /* hsl(301, 50%, 60%, 0.2);*/
  --color-light: hsl(0, 0%, 95%);
  --color-light-4: hsl(0, 0%, 95%, 0.4);
  --color-light-6: hsl(0, 0%, 95%, 0.6);
  --color-dark-1: #f5f5f4;
  --color-dark-2: #e7e5e4;
  --color-dark-3: #d6d3d1;
  --color-dark-4: #a8a29e;
  --color-dark-6: #57534e;
  --color-dark-8: #44403c;
  --color-dark-8-opacity-4: hsl(12, 6%, 15%, 0.4);
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
}

article {
  position: relative;
}

button {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: solid 1px var(--color-dark-1);
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  transition: background-color 200ms;
  background-color: transparent;
  color: var(--color-dark-3);
}
button.enabled {
  pointer-events: all;
  color: var(--color-dark-8);
}
button.selected {
  border-color: var(--color-secondary);
}
button:active i {
  color: var(--color-dark-3);
}
button span {
  font-weight: 600;
}
