@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), local('quicksand'), url('/fonts/Quicksand.ttf') format('truetype')
}
@font-face {
  font-family: 'Roboto Mono';
  src: local('RobotoMono'), local('robotomono'), url('/fonts/RobotoMono.ttf') format('truetype')
}

:root {
  --font-family: 'Quicksand';
  --font-size-3: 16px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 28px;
  --font-size-7: 32px;
  --font-size-8: 36px;
  --font-size-9: 40px;

  --color-text-dark: hsl(12, 6%, 15%);
  --color-text-dark-disabled: hsla(12, 6%, 15%, 0.3);
  --color-text-light: hsl(0, 0%, 100%);
  --color-text-light-disabled: hsla(0, 0%, 100%, 0.5);

  --color-primary: #22c55e;
  --color-primary-disabled: #22c55e33;
  --color-primary-transparent: #22c55e4d;

  --color-secondary: #d946ef;
  --color-secondary-transparent: #d946ef4d;

  --color-dark: #292524;
  --color-dark-disabled: #78726d1a;
  --color-light: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text-dark: hsl(60, 9%, 98%);
    --color-text-dark-disabled: hsla(60, 9%, 98%, 0.2);
    --color-text-light: hsl(12, 6%, 15%);
    --color-text-light-disabled: hsla(12, 6%, 15%, 0.5);

    --color-primary: hsl(142, 71%, 45%);
    --color-primary-disabled: hsla(142, 71%, 45%, 0.2);
    --color-primary-transparent: hsla(142, 71%, 45%, 0.3);

    --color-secondary: hsl(292, 84%, 61%);
    --color-secondary-transparent: hsla(292, 84%, 61%, 0.3);

    --color-dark: hsl(60, 9%, 98%);
    --color-dark-disabled: hsl(60, 9%, 98%, 0.1);
    --color-light: hsl(12, 6%, 15%);
  }
}
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  background-color: var(--color-light);
}

article {
  position: relative;
}

button {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: solid 1px var(--color-dark-disabled);
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
  transition: background-color 200ms;
  background-color: transparent;
  color: var(--color-text-dark-disabled);
}
button.enabled {
  pointer-events: all;
  color: var(--color-text-dark);
}
button.selected {
  background-color: var(--color-secondary-transparent);
}
button:active i {
  color: var(--color-dark-disabled);
}
button span {
  font-weight: 600;
}
